*.tar.gz filter=lfs diff=lfs merge=lfs -text
k8s/prometheus-2.45.0.linux-amd64/prometheus filter=lfs diff=lfs merge=lfs -text
k8s/prometheus-2.45.0.linux-amd64/promtool filter=lfs diff=lfs merge=lfs -text
